.footer {
    background-color: #5972b1;
}

.footer__container {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copywrite {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    width: 23%;
    line-height: 18px;
}

.footer__copywrite span {
    font-weight: 700;
    text-decoration: underline;
}

.footer__logo {
    width: 20%;
}